<div class="fondo"> 

    <div class="openContainer">
       <div class="imgContainer">
           <img src="https://ychef.files.bbci.co.uk/976x549/p038m41d.jpg" alt="">
           <div class="dataDetail">
                <h1 class="titleDetail">Toy Story</h1>
                <div>
                    <h2 class="rate">8,3/10</h2>
                </div>
                <h4>John Lasseter</h4>
                <h4>1995</h4>
                <button class="buttonCardDetail">Editar pelicula</button>
           </div>
        </div>
    </div>
    
    <h2 class="titleh2">Escenas</h2>
    <div class="scenes">
        <div>
            <img class="scene" src="https://i.insider.com/5fb6b19f50e71a0011556403?width=700" alt="Escena 1">
            <img src="" alt="">
        </div>
        <div>
            <img class="scene" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6_WmJf2lf4DvU1v5ufK5RYHa1wDp2mm5LGqcxIIuEsA&s" alt="Escena 2">
            <img src="" alt="">
        </div>
        <div>
            <img class="scene" src="https://www.commonsensemedia.org/sites/default/files/styles/ratio_16_9_small/public/screenshots/csm-movie/toy-story-1995-ss4.jpg" alt="Escena 3">
            <img src="" alt="">
        </div>
    </div>
    
    <div class="infoDetail">
        <p class="descriptionTitle">Toy Story: 1 hora y 21 minutos</p>
        <p class="description">Toy Story es una película de animación por computadora dirigida por John Lasseter y producida por Pixar Animation Studios. Es la primera película de la serie de Toy Story y fue estrenada en 1995. La trama sigue la historia de un grupo de juguetes liderados por Woody, un vaquero de juguete, y Buzz Lightyear, un astronauta de juguete, que se embarcan en una aventura para encontrar el camino de regreso a casa de su dueño, Andy. La película fue un gran éxito comercial y de crítica, y se considera un hito en la animación por computadora.</p>
    </div>
    
    <div>
        <figure>
            <img src="" alt="">
        </figure>
        <figure>
            <img src="" alt="">
        </figure>
        <figure>
            <img src="" alt="">
        </figure>
        <figure>
            <img src="" alt="">
        </figure>
    </div>
    
    </div>